<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:app.properties" />
    <context:annotation-config/>
    <bean id="roomDao" class="com.senla.training.hoteladmin.dao.room.RoomDaoImpl" />
    <bean id="clientDao" class="com.senla.training.hoteladmin.dao.client.ClientDaoImpl" />
    <bean id="hotelServiceDao" class="com.senla.training.hoteladmin.dao.hotelservice.HotelServiceDaoImpl" />
    <bean id="visitDao" class="com.senla.training.hoteladmin.dao.visit.VisitDaoImpl" />
    <bean id="reservationDao" class="com.senla.training.hoteladmin.dao.reservation.ReservationDaoImpl" />
    <bean id="entityManagerProvider" class="com.senla.training.hoteladmin.dao.EntityManagerProvider" />

    <bean id="roomService" class="com.senla.training.hoteladmin.service.room.RoomServiceImpl" />
    <bean id="clientService" class="com.senla.training.hoteladmin.service.client.ClientServiceImpl" />
    <bean id="hotelServiceService" class="com.senla.training.hoteladmin.service.hotelservice.HotelServiceServiceImpl" />
    <bean id="visitService" class="com.senla.training.hoteladmin.service.visit.VisitServiceImpl" />
    <bean id="reservationService" class="com.senla.training.hoteladmin.service.reservation.ReservationServiceImpl" />

    <bean id="roomController" class="com.senla.training.hoteladmin.controller.RoomController" />
    <bean id="clientController" class="com.senla.training.hoteladmin.controller.ClientController" />
    <bean id="hotelServiceController" class="com.senla.training.hoteladmin.controller.HotelServiceController" />
    <bean id="visitController" class="com.senla.training.hoteladmin.controller.VisitController" />
    <bean id="reservationController" class="com.senla.training.hoteladmin.controller.ReservationController" />

    <bean id="clientReaderWriter" class="com.senla.training.hoteladmin.csvapi.writeread.ClientReaderWriter" />
    <bean id="hotelServiceReaderWriter" class="com.senla.training.hoteladmin.csvapi.writeread.HotelServiceReaderWriter" />
    <bean id="reservationReaderWriter" class="com.senla.training.hoteladmin.csvapi.writeread.ReservationReaderWriter" />
    <bean id="roomReaderWriter" class="com.senla.training.hoteladmin.csvapi.writeread.RoomReaderWriter" />
    <bean id="visitReaderWriter" class="com.senla.training.hoteladmin.csvapi.writeread.VisitReaderWriter" />

    <bean id="appenderBuilder" class="com.senla.training.hoteladmin.util.AppenderBuilder" />

    <bean id="builder" class="com.senla.training.hoteladmin.view.Builder" />
    <bean id="menuController" class="com.senla.training.hoteladmin.view.MenuController" />
    <bean id="navigator" class="com.senla.training.hoteladmin.view.Navigator" />

</beans>